{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "AzureOpenAIOptions:Endpoint": "",
    "AzureOpenAIOptions:ApiKey": "",
    "CognitiveSearchOptions:Endpoint": "",
    "CognitiveSearchOptions:QueryKey": "",
    "CognitiveSearchOptions:IndexName": "azure",
    "CosmosConnection": ""
  }
}